In [1]:
import numpy as np
import pandas as pd

In [2]:
'''Loading the input and pre-processing'''
df_new = pd.read_csv('Final sample Gettech.csv',sep=';',index_col=0)
df_test = df_new.groupby(['accommodation_id','basename','at','description','value_type_id'])['amenities_id'].apply(list)
df_test = df_test.to_frame().reset_index()
df_test2 = df_new.groupby(['accommodation_id','basename','at','description','value_type_id'])['amenities_cont'].apply(list)
df_test2 = df_test2.to_frame().reset_index()
final_df = pd.merge(df_test, df_test2[["accommodation_id", "amenities_cont"]], on="accommodation_id", how="left")
final_df.to_csv('processed_csv_file.csv', sep='\t', encoding='utf-8')
final_df.head()

,accommodation_id,basename,at,description,value_type_id,amenities_id,amenities_cont
0,5088,Hotel Sonne,2,"Set in a prime location of Waldbronn, Hotel So...",1,[47],[1]
1,5092,Steuermann,2,Ideally located in the prime touristic area of...,1,"[63, 47]","[1, 1]"
2,5323,Hotel Montree,2,Hotel Montree is conveniently located in the p...,1,"[63, 48]","[1, 1]"
3,5434,Weidenhof,2,The Weidenhof is a well-situated Hotel in Rege...,1,[48],[1]
4,5668,East-Side,3,This guest house is located in Berlin’s trendy...,1,[255],[1]

In [5]:
type_1_list = [6,8,50]
type_0_list = [2,3,4,5,9,11,49,53,54]
for elem in type_1_list:
    final_df.loc[final_df['at'] == elem, 'label'] = 1
for elem in type_0_list:
    final_df.loc[final_df['at'] == elem, 'label'] = 0
final_df.head()

,accommodation_id,basename,at,description,value_type_id,amenities_id,amenities_cont,label
0,5088,Hotel Sonne,2,"Set in a prime location of Waldbronn, Hotel So...",1,[47],[1],0.0
1,5092,Steuermann,2,Ideally located in the prime touristic area of...,1,"[63, 47]","[1, 1]",0.0
2,5323,Hotel Montree,2,Hotel Montree is conveniently located in the p...,1,"[63, 48]","[1, 1]",0.0
3,5434,Weidenhof,2,The Weidenhof is a well-situated Hotel in Rege...,1,[48],[1],0.0
4,5668,East-Side,3,This guest house is located in Berlin’s trendy...,1,[255],[1],0.0

In [8]:
sorted_list = []
element_list = [13,17,46,47,48,63,255]
for li in final_df["amenities_id"]:
    new_li = []
    for elem in element_list:
        if elem in li:
            new_li.append(elem)
        else:
            new_li.append(0)
    sorted_list.append(new_li)
final_df["sorted_amenities_id"] = sorted_list
final_df.head()

,accommodation_id,basename,at,description,value_type_id,amenities_id,amenities_cont,label,sorted_amenities_id
0,5088,Hotel Sonne,2,"Set in a prime location of Waldbronn, Hotel So...",1,[47],[1],0.0,"[0, 0, 0, 47, 0, 0, 0]"
1,5092,Steuermann,2,Ideally located in the prime touristic area of...,1,"[63, 47]","[1, 1]",0.0,"[0, 0, 0, 47, 0, 63, 0]"
2,5323,Hotel Montree,2,Hotel Montree is conveniently located in the p...,1,"[63, 48]","[1, 1]",0.0,"[0, 0, 0, 0, 48, 63, 0]"
3,5434,Weidenhof,2,The Weidenhof is a well-situated Hotel in Rege...,1,[48],[1],0.0,"[0, 0, 0, 0, 48, 0, 0]"
4,5668,East-Side,3,This guest house is located in Berlin’s trendy...,1,[255],[1],0.0,"[0, 0, 0, 0, 0, 0, 255]"

In [10]:
final_df[['a1','a2','a3','a4','a5','a6','a7']] = pd.DataFrame(final_df.sorted_amenities_id.values.tolist(), index= final_df.index)
#final_df.to_csv("final_pre-processed_input.csv", sep=';', encoding='utf-8')
final_df.head(20)

,accommodation_id,basename,at,description,value_type_id,amenities_id,amenities_cont,label,sorted_amenities_id,a1,a2,a3,a4,a5,a6,a7
0,5088,Hotel Sonne,2,"Set in a prime location of Waldbronn, Hotel So...",1,[47],[1],0.0,"[0, 0, 0, 47, 0, 0, 0]",0,0,0,47,0,0,0
1,5092,Steuermann,2,Ideally located in the prime touristic area of...,1,"[63, 47]","[1, 1]",0.0,"[0, 0, 0, 47, 0, 63, 0]",0,0,0,47,0,63,0
2,5323,Hotel Montree,2,Hotel Montree is conveniently located in the p...,1,"[63, 48]","[1, 1]",0.0,"[0, 0, 0, 0, 48, 63, 0]",0,0,0,0,48,63,0
3,5434,Weidenhof,2,The Weidenhof is a well-situated Hotel in Rege...,1,[48],[1],0.0,"[0, 0, 0, 0, 48, 0, 0]",0,0,0,0,48,0,0
4,5668,East-Side,3,This guest house is located in Berlin’s trendy...,1,[255],[1],0.0,"[0, 0, 0, 0, 0, 0, 255]",0,0,0,0,0,0,255
5,5681,Hotel Graf Pückler,2,The 2-star Hotel Graf Puckler offers comfort a...,1,[48],[1],0.0,"[0, 0, 0, 0, 48, 0, 0]",0,0,0,0,48,0,0
6,5684,Grünau Hotel,2,Grünau Hotel is conveniently located in the po...,1,"[63, 48, 47]","[1, 1, 1]",0.0,"[0, 0, 0, 47, 48, 63, 0]",0,0,0,47,48,63,0
7,6256,Tyros,2,General: Offering free parking and direct publ...,1,[48],[1],0.0,"[0, 0, 0, 0, 48, 0, 0]",0,0,0,0,48,0,0
8,6286,Domicil Residenz Hotel Bad Aachen,2,"Set in a prime location of Aachen, domicil Res...",1,"[63, 47, 255]","[1, 0, 1]",0.0,"[0, 0, 0, 47, 0, 63, 255]",0,0,0,47,0,63,255
9,6379,Business Wieland,2,The Business Wieland Hotel is a * * * + Boutiq...,1,"[63, 48, 13]","[1, 1, 1]",0.0,"[13, 0, 0, 0, 48, 63, 0]",13,0,0,0,48,63,0
10,6429,Ruhr,2,Ideally located in the prime touristic area of...,1,"[63, 48]","[1, 1]",0.0,"[0, 0, 0, 0, 48, 63, 0]",0,0,0,0,48,63,0
11,6901,Hotel Girasol,2,The fully air-conditioned hotel comprises a to...,1,"[48, 47]","[1, 1]",0.0,"[0, 0, 0, 47, 48, 0, 0]",0,0,0,47,48,0,0
12,6921,Hotel THB Dos Playas,2,The THB Dos Playas hotel boasts a prime locati...,1,"[63, 48, 47]","[1, 0, 1]",0.0,"[0, 0, 0, 47, 48, 63, 0]",0,0,0,47,48,63,0
13,7321,Tajaraste,8,Tucked away in a quieter part of Playa del Ing...,1,"[47, 255]","[0, 1]",1.0,"[0, 0, 0, 47, 0, 0, 255]",0,0,0,47,0,0,255
14,7637,Anthos Apartments,8,Anthos Apartments is conveniently located in t...,1,[255],[1],1.0,"[0, 0, 0, 0, 0, 0, 255]",0,0,0,0,0,0,255
15,7649,Hotel Creta Star,2,The Creta Star is an all-inclusive hotel on th...,1,"[48, 47, 13]","[1, 1, 1]",0.0,"[13, 0, 0, 47, 48, 0, 0]",13,0,0,47,48,0,0
16,7696,Hotel Paradise,2,"Centrally located in Vathy, amongst lush garde...",1,"[63, 48, 47]","[1, 1, 1]",0.0,"[0, 0, 0, 47, 48, 63, 0]",0,0,0,47,48,63,0
17,7796,Lagomandra Beach Hotel,2,Lagomandra Hotel and Spa is perfectly located ...,1,"[48, 47]","[1, 1]",0.0,"[0, 0, 0, 47, 48, 0, 0]",0,0,0,47,48,0,0
18,8222,Hotel La Quinta Inn & Suites Miami Lakes,2,Hotel La Quinta Inn & Suites Miami Lakes is a ...,1,[48],[1],0.0,"[0, 0, 0, 0, 48, 0, 0]",0,0,0,0,48,0,0
19,8519,DoubleTree by Hilton Las Vegas Airport,2,Located only a five-minute drive from the McCa...,1,"[63, 48, 47, 46, 13]","[1, 1, 1, 1, 1]",0.0,"[13, 0, 46, 47, 48, 63, 0]",13,0,46,47,48,63,0